<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-leaf"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Shop Now</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="admin != null">
          <a class="nav-link" routerLink="/product-wishlist">
            <i class="fa fa-heart"></i>
            <span class="badge badge-danger badge-pill">
              {{ wishCount }}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product-cart">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge badge-warning badge-pill">
              {{ cartCount }}
            </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="admin == null">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="admin != null" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a *ngIf="admin == 'true'" class="dropdown-item" routerLink="/product-list">Product List</a>
            <a *ngIf="admin == 'true'" class="dropdown-item" routerLink="/manage-product">Manage Product</a>
            <a *ngIf="admin != null" class="dropdown-item" routerLink="/my-orders">My Orders</a>
            <a *ngIf="admin == 'true'" class="dropdown-item" routerLink="/manage-order">Manage Orders</a>
            <button class="dropdown-item" id="logout" (click)="logoutUser()">Log Out</button>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>