<h5>You have {{ wishCount }} products in your wishlist.</h5>
<br>
<div class="row">
    <div class="col-md-3" *ngFor="let w of wish">
        <div class="card">
            <img src="../../assets/images/{{ w.imageurl }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ w.title }}</h5>
                <button 
                id="remove-btn"
                (click)="removeFromWishlist(w)"
                class="btn btn-light btn-sm">
                    Remove 
                </button>
                <p class="card-text">{{ w.price | currency:'USD':true }}</p>
            </div>
            <div class="card-footer">
                <button 
                (click)="seeDetails(w._id)"
                class="btn btn-secondary btn-sm">
                    See Details
                </button>
            </div>
        </div>
    </div>
</div>