<form #f="ngForm">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
      <input  #fname="ngModel" ngModel type="text" class="form-control" name="fname" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <input #lname="ngModel" ngModel type="text" class="form-control" name="lname" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Email
    </label>
    <input #email="ngModel" ngModel type="email" class="form-control" name="email" required>
    <div class="invalid-feedback">
      Please enter a valid email address for shipping updates.
    </div>
  </div>

  <div class="mb-3">
    <label for="address1">Address</label>
    <input #address1="ngModel" ngModel type="text" class="form-control" name="address1"  required>
    <div class="invalid-feedback">
      Please enter your shipping address.
    </div>
  </div>

  <div class="mb-3">
    <label for="address2">Address 2
      <span class="text-muted">(Optional)</span>
    </label>
    <input #address2="ngModel" ngModel type="text" class="form-control" name="address2">
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Country</label>
      <input #country="ngModel" ngModel type="text" class="form-control" name="country" required>
      <div class="invalid-feedback">
        Please select a valid country.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="state">State</label>
      <input #state="ngModel" ngModel type="text" class="form-control" name="state" required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Zip</label>
      <input #zip="ngModel" ngModel type="text" class="form-control" id="zip" name="zip" required>
      <div class="invalid-feedback">
        Zip code required.
      </div>
    </div>
  </div>

<!--   <hr class="mb-4">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="same-address">
    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="save-info">
    <label class="custom-control-label" for="save-info">Save this information for next time</label>
  </div>
  <hr class="mb-4"> 

   <h4 class="mb-3">Payment</h4>

  <div class="d-block my-3">
    <div class="custom-control custom-radio">
      <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
      <label class="custom-control-label" for="credit">Credit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="debit">Debit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="paypal">Paypal</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cc-name">Name on card</label>
      <input type="text" class="form-control" id="cc-name" placeholder="" required>
      <small class="text-muted">Full name as displayed on card</small>
      <div class="invalid-feedback">
        Name on card is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="cc-number">Credit card number</label>
      <input type="text" class="form-control" id="cc-number" placeholder="" required>
      <div class="invalid-feedback">
        Credit card number is required
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">Expiration</label>
      <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
      <div class="invalid-feedback">
        Expiration date required
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">CVV</label>
      <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
      <div class="invalid-feedback">
        Security code required
      </div>
    </div>
  </div>
  <hr class="mb-4"> -->
  <button 
  [disabled]="!f.valid"
  (click)="placeOrder(f)"
  class="btn btn-success"> Confirm Order
  </button>
</form>
<br>